 <%= content_tag_for :div, bookmark, class: 'col-xs-12 col-md-3 col-lg-3' do %>
  <%= link_to bookmark.url, [bookmark.topic, bookmark] %>
  <div align="center">
    <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
    <% if policy(bookmark).destroy? %>
      <%= link_to [bookmark.topic, bookmark], method: :delete, remote: true, class: 'btn btn-danger' do %>
        <i class="glyphicon glyphicon-trash"></i>&nbsp; Delete
      <% end %>
    <% end %>
  </div>
<% end %>
