<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h2 class="media-heading">
          <%= @topic.title %>
          <small>
            <%= link_to edit_topic_path, class: 'btn btn-default pull-right' do %>
              <i class="glyphicon glyphicon-edit"></i> Edit
            <% end %>
            <%= link_to @topic, method: :delete, class: 'btn btn-default pull-right', data: { confirm: 'Are you sure you want to delete this wiki?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </small>
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
<% for bookmark in @topic.bookmarks %>
  <%= render partial: 'bookmark', locals: { bookmark: bookmark } %>
<% end %>
</div>
