<%= content_tag_for :div, topic, class: "row" do %>
  <div>
    <h3>
      <%= link_to "##{topic.title}", topic %>
      <small>
        <% if policy(topic).destroy? %>
          <%= link_to topic, method: :delete, title: 'Delete', data: { confirm: 'Delete topic?' } do %>
            <i class="glyphicon glyphicon-trash"></i>
          <% end %>
        <% end %>
      </small>
    </h3>
    <div class="row">
      <%= render bookmarks %>
    </div>
  </div> 
<% end %>
